Repository SocialGouv/mano, pull requests merged in 2023-01, with the labels that each got.

#1158 fix(app): save only one place per person in app
  app/src/scenes/Persons/PersonSummary.js
  app/src/scenes/Places/NewPlaceForm.js
Labels: A MERGER AVEC LA RELEASE DE L'APP AUJOURD'HUI

#1134 feat(app): create action for multiple team (retrocompatible)
  app/src/recoil/actions.js
  app/src/scenes/Actions/Action.js
  app/src/scenes/Actions/NewActionForm.js
Labels: STEP 2 actions 01/01/2023, Do not merge now

#1127 feat(dashboard): create action for multiple team (retrocompatible)
  dashboard/src/components/ActionOrConsultationName.js
  dashboard/src/components/ActionsCalendar.js
  dashboard/src/components/ActionsWeekly.js
  dashboard/src/components/CreateActionModal.js
  dashboard/src/components/SelectTeamMultiple.js
  dashboard/src/recoil/actions.js
  dashboard/src/scenes/action/list.js
  dashboard/src/scenes/action/view.js
  dashboard/src/scenes/person/components/Actions.js
  dashboard/src/scenes/person/list.js
  dashboard/src/scenes/report/view.js
  dashboard/src/scenes/search/index.js
  e2e/reports_cross-teams-report.spec.ts
Labels: STEP 2 actions 01/01/2023, Do not merge now

#1136 feat(api): migrate all actions in database with multiple teams
  api/src/controllers/migration.js
  dashboard/src/components/DataMigrator.js
Labels: STEP 3 actions 10/01/2023

#1216 feat(api,dashboard,app): rendre certains champs des personnes suivies customisables
  README.md
  api/mocked-db.sql
  api/package.json
  api/src/db/migrations/2021-11-26-custom-fields-persons.js
  api/src/db/migrations/2022-03-07_add_migrations_in_organisation.js
  api/src/db/migrations/2023-01-19_custom-fields-person.js
  api/src/db/migrations/index.js
  api/src/middleware/versionCheck.js
  api/src/utils.js
  api/src/utils/custom-fields/person.js
  api/src/utils/data-serializer.js
  app/android/app/build.gradle
  app/app.json
  app/package.json
  app/src/components/MultiCheckBoxes/RessourcesMultiCheckBoxes.js
  app/src/components/MultiCheckBoxes/WhyHomelessMultiCheckBoxes.js
  app/src/components/Selects/AddressDetailSelect.js
  app/src/components/Selects/AnimalsSelect.js
  app/src/components/Selects/EmploymentSituationSelect.js
  app/src/components/Selects/NationalitySituationSelect.js
  app/src/components/Selects/PersonalSituationSelect.js
  app/src/scenes/Persons/InformationsMedical.js
  app/src/scenes/Persons/InformationsSocial.js
  app/src/scenes/Persons/MedicalFile.js
  app/src/scenes/Persons/Person.js
  dashboard/src/components/CustomFieldInput.js
  dashboard/src/components/TableCustomFields.js
  dashboard/src/scenes/person/MedicalFile.js
  dashboard/src/scenes/person/components/EditModal.js
  dashboard/src/scenes/person/components/InfosMedicales.js
  dashboard/src/scenes/person/components/InfosSociales.js
  dashboard/src/scenes/stats/MedicalFiles.js
  dashboard/src/scenes/stats/Persons.js
  e2e/global_restricted-roles.spec.ts
  e2e/persons_create-and-modify-person.spec.ts
  e2e/persons_person-full-test-migrated-from-jest.spec.ts
  e2e/scripts/db.sql
  website/package.json
Labels: livrer le 27/01 (forcer release app & dashboard)
